body {
    background-image: url("../images/small_steps.png");
    background-color: #cccccc;
}

.go a:before,
.go a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.go a:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}
.img_for_bsSL{
    position: relative;
    width: 20%;
}
.img_for_bsSL img{
    max-width: 100%;
    max-height: 100%;

}
.delete_photo_slider{
    position: absolute;
    top: 0;
    right: 3%;
}
.img_for_position{
    position: relative;
    height: 390px;
}

.mainCat {
    overflow: hidden;
}
.mainCat .pnerMainCat{
    float: left;
}
.mainCat .pnerMainCat span{
    margin-left: 25px;
    font-size: 16px;
    font-weight: 600;
}
.mainCat .anerMainCat{
    float: right;
}
.mainCat .anerMainCat a{
    display: inline-block;
    margin-left: 10px;
}
.forma_category input[type="submit"]{
    padding: 8px;
}